<div class="col-md-8">
<h1>Búsqueda de dueños</h1>
</div>

<div class="container"> 
  <div style='width: 600px;'>
    <div id="map" style='width: 650px; height: 400px;'></div>
  </div>
</div>
<script> 
handler = Gmaps.build('Google');
handler.buildMap({
        provider: {
        center: new google.maps.LatLng({lat: <%= current_dog_walking.latitude %> , lng: <%= current_dog_walking.longitude %> }),
        zoom: 10
      },
      internal: {
        id: 'map'
      }
    },
 function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
  }
);

</script>